<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="/css/table.css">
        <title>SPIRA Table</title>
    </head>
    <h1 id="title"><span class="blue"></span>SPIRA Table<span class="blue"></pan></h1>
    <h2>Criado em associação com o <a href="http://ccsl.ime.usp.br/wiki/LabXP" target="_blank">LABXP</a></h2>
    <table class="container">
        <thead>
            <tr>
                <th><h1 class="variableTitle">Data</h1></th>
                <th><h1 class="variableTitle">Nome </h1></th>
                <th><h1 class="variableTitle">Sexo</h1></th>
                <th><h1 class="variableTitle">Idade</h1></th>
                <th><h1 class="variableTitle">Nível falta de ar</h1></th>
                <th><h1 class="variableTitle">Resultado</h1></th>
            </tr>
        </thead>
        <tbody>
            <% if(inferenceList) { %>
                <% for(let inference of inferenceList) { %>
                    <tr>
                        <td> <%= inference.timestamp %></td>
                        <td> <%= inference.original_name %></td>
                        <td> <%= inference.sex %></td>
                        <td> <%= inference.age %></td>
                        <td> <%= inference.level %></td>
                        <td> <%= inference.result %></td>
                    </tr>
                <% } %>
            <% } %>
        </tbody>
    </table>
</html>
